<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queries</title>
    <script src="{{ url_for('static', filename='getQueryData.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Tables for Queries</h1>
<div id="query1">
    <button type="button" id="mostPurchased" onclick="getMostPurchased()">Get Most Purchased</button>
    <table border=1 id="mostPurchasedProduct">
    </table>
</div>

<div id="query2">
    <button type="button" id="memberAndRanking" onclick="getCustomerMemberAndRanking()">Get Customer Member And Ranking</button>
    <table border="1" id="customerMemberAndRanking">
    </table>
</div>

<a href = "/index.html">Go back to home page</a>
</body>
</html>